*{
    box-sizing: border-box;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}

.wrapper{
    /* width: 524px; */
    /* height: 440px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
}

.wrapper__header{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper__title{
    display: flex;
    flex-direction: row;
    align-items: end;
    
}

.title{
    color: #55B2D4;
    font-size: 17px;
    font-weight: 700;
}

.subtitle{
    color: black;
    font-size: 11px;
    margin-left: 10px;
}

.divideLine{
    border-top: 1px solid black;
    /* width: 100%; */
    /* height: 100%; */
}

.albumWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


.album{
    display: flex;
    flex-direction: column;
}


.albumThumbnail{
    width: 120px;
    height: 120px;
}

.albumTitle{
    color: #0f465e;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.albumSinger{
    color: gray;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.wrapper__body{
    /* background-color: bisque; */
    width: 100%;
}

.albumTable{
    width: 100%;
    padding-top: 8px;
    margin-top: 8px;
    border-spacing: 0px;
}

.albumTable th{
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    background-color: #eeeeee;
    padding-top: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px dashed gray;
}

.albumTable td{
    height: 20px;
    font-size: 10px;
    color: #0f465e;
    border-bottom: 1px dashed gray;
}


/* 정렬맞추기 */

.td-check{
    width: 5%;
    text-align: center; 
}

.td-number{
    width: 10%;
    text-align: center;

}
.td-title{
    width: 45%;
    text-align: left;

}

.td-artist{
    width: 30%;
    text-align: center;
}

/* table{ border-collapse : collapse;  */
/* width: 100%; */
/* padding-top: 20px; */
/* border-top: 1px solid black; */
/* font-size: 13px; */
/* padding-left: 20px; */
/* }  이중선 제거 */
/* th{ */
     /* width: 100px; */
     /* height: 20px; */
     /* text-align: start; */
     /* padding-left: 20px; */
     /* border-bottom: 1px solid #000; */
     
     /* vertical-align: top;	위 */
     /* vertical-align: bottom;   /* 아래 */
    /* vertical-align: middle;   가운데 */
   }
/* 
th{
    color: gray;
    background-color: #EEE;
    text-align: start;
}

td{
    /* text-align: center; */
/* }

.board .th-check{
    width: 40px;
    /* text-align: center; */
/* } */

.board .th-number{
    width: 50px;
    /* text-align: center; */
} */ */
/* 
td{
    border-bottom: 1px dotted gray;
} */
/* 
td > .board  .th-title {
    color: red;
} */